@import 'utilidades/variables';
@import 'utilidades/mixins';
@import 'utilidades/maps';
 

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito:wght@200&family=Shadows+Into+Light&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 5px;
}

// vista mobile


@media only screen and (min-width:0px) and (max-width:767px){

 // header 

header {
    top: 0px;
    width: 100%;
    background-image: url(../img/back3.png);
}

.titulo {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: bold;
    color: $color-titulos;
    font-size: 92px;
}

//animacion subtitulo 

.animate__animated.animate__slideInLeft {
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
    color: #8273ce;
    margin-top: 1%;
    --animate-duration: 3s;
}

//menu 

.nav-link {
    font-size: large;
    font-weight: bold;
}

.nav-item {
@extend .nav-link
}

.navbar-brand {
    font-size: x-large;
    font-weight: bolder;
}

h2 {
  margin-top: 20px;
}

//main 

main {
    background-color: $color-background;
}


.fotos {
    width: $width-fotos;
    border-radius: 10%;
}

.bloqueDeFotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p,
h3 {
    font-weight: bold;
    color: $color-titulos;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tituloPages {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    padding: 30px ;
    margin-top: 2%;
    color: $color-titulos;
    font-weight: bold;
}

h4 {
    font-size: larger;
    font-weight: bold;
    
}

.form-control  {
    width: 70%;
}

.container {
    flex-wrap: wrap;
    background-color: $color-background;
}
.d-block {
    border-radius: 20px;
}
#carouselColeccion {
    width: 400px;
    background-color: $color-background;
   }

   //locales 
   .iframe {
    width: 300px;
}

//tienda online

.cardTienda {
    display: flex;
    padding: 2px;
}


#articuloTienda {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;
    width: 310px;
    margin: 10px;
}
#colorInput {
    width: 40px; 
    height: 40px;
}

.tituloTienda {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: $color-titulos;
    font-weight: bold;}




    //Coleccion
.card-img-top {
    width: 500px;
    border-radius: 10px;
    }
    
    .card {
        width:510px;
        border-color: black;
        margin: 30px;
    }
    
    #cardColeccion
    {background-color:  #B7C8B5 ;
    }
    
    .containerColeccion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    //Quienes
.cardQuienes {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;
}

//footer

 footer, #footer {
    background-image: linear-gradient( $color-background,#9589d0 );
    
}
.bi {
        color: black;
        }   

}

//vista entre desktop y mobile 
@media only screen and (min-width:768px) and (max-width:1239px){

    //header

    header {
        top: 0px;
        width: 100%;;
        background-image: url(../img/back3.png);
    }

    
    .titulo {
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-weight: bold;
        color: $color-titulos;
        font-size: 92px;
    }
    

    .animate__animated.animate__slideInLeft {
        font-family: 'Shadows Into Light', cursive;
        font-style: italic;
        color: #8273ce;
        margin-top: 1%;
        --animate-duration: 3s;
    }

    
//menu
    .nav-link {
        font-size: large;
        font-weight: bold;
    }

    .nav-item {
        font-size: large;
        font-weight: bold;
    }
    
    .navbar-brand {
        font-size: x-large;
        font-weight: bolder;
    }

    main {
        background-color: $color-background;
        grid-column-start: 1 ;
        grid-column-end: 5 ;
        display: flex;
        flex-direction: column;
    }
    

    .fotos {
        width: $width-fotos;
        border-radius: 10%; 
        
        &:hover {
            transform: scale(1.1, 1.1);
            transition: 3s;
        }
    }
    .bloqueDeFotos {
       @include display
    }
    
    p,
    h3 {
        font-weight: bold;
        color: $color-titulos;
        font-size: x-large;
    }
    
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .tituloPages {
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
        padding: 10px ; 
        margin-top: 3%; 
        color: $color-titulos;
        font-weight: bold;
    }
     
    //tiendaonline 

    .gridTienda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr;
        grid-template-areas:
        "tituloTienda tituloTienda tituloTienda"
        "articuloUno articuloDos articuloTres" 
        "articuloCuatro articuloCinco articuloSeis";
    }
    
    .articuloUno {
        grid-area: articuloUno;
    }
    
    .articuloDos {
        grid-area: articuloDos;
    }
    
    .articuloTres {
        grid-area: articuloTres;
    }
    
    .articuloCuatro {
        grid-area: articuloCuatro;
    }
    
    .articuloCinco {
        grid-area: articuloCinco;
    }
    
    .articuloSeis {
        grid-area: articuloSeis;
    }


.tituloTienda {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    grid-area: tituloTienda;
    padding: 20px;
    color: $color-titulos;
    font-weight: bold;
}

.cardTienda {
    display: flex;
    padding: 2px;
}

#articuloTienda {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;
    width: 310px;
    margin: 10px;
}
#colorInput {
    width: 40px; 
    height: 40px;
}

h4 {
    font-size: large;
    font-weight: bold;
}

.form-control  {
    width: 70%;
}
.d-block {
    border-radius: 20px;
}
//Coleccion
.card-img-top {
    width: 500px;
    border-radius: 10px;
    }
    
    .card {
        width:510px;
        border-color: black;
        margin: 30px;
    }
    
    #cardColeccion
    {background-color:  #B7C8B5 ;
    }
    
    .containerColeccion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    //Quienes
.cardQuienes {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;
}

   footer {
    background-image: linear-gradient( $color-background,#9589d0 );
    }
    .bi {
        color: black;
        }

}

//vista desktop 
@media only screen and (min-width:1240px){

    //header
    header {
        top: 0px;
        width: 100%;;
        background-image: url(../img/back3.png);
    }

    
    .titulo {
        font-family: 'Amatic SC', cursive;
        text-align: center;
        font-weight: bold;
        color: $color-titulos;
        font-size: 115px;
    }
    
    .animate__animated.animate__slideInLeft {
        font-family: 'Shadows Into Light', cursive;
        font-style: italic;
        font-weight: bold;
        color: #8273ce;
        margin-top: 1%;
        --animate-duration: 3s;
    }

//menu

.nav-link {
    font-size: x-large;
    font-weight: bold;
}

.nav-item {
    font-size: x-large;
    font-weight: bold;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bolder;
}

    
    main {
        background-color: $color-background;
        display: flex;
        flex-direction: column;
       
    }
    
    
    .fotos {
        width: $width-fotos;
        border-radius: 10%;

        &:hover {
            transform: scale(1.1, 1.1);
            transition: 3s;
        }
    }

  
    
    .bloqueDeFotos {
        grid-area: bloqueDeFotos;
        @include display;   
    }
    
    p,
    h3 {
        font-weight: bold;
        color: $color-titulos;
        font-size: x-large;
    }
    
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .tituloPages {
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
        padding: map-get($estilotitulosP, padding) ; 
        margin-top: map-get($estilotitulosP, margin-top); 
        color: map-get($estilotitulosP, color);
        font-weight: map-get($estilotitulosP, font-weight );
    }

    //tienda online

.gridTienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas:
    "tituloTienda tituloTienda tituloTienda"
    "articuloUno articuloDos articuloTres" 
    "articuloCuatro articuloCinco articuloSeis";
    
}

.articuloUno {
    grid-area: articuloUno;
}

.articuloDos {
    grid-area: articuloDos;
}

.articuloTres {
    grid-area: articuloTres;
}

.articuloCuatro {
    grid-area: articuloCuatro;
}

.articuloCinco {
    grid-area: articuloCinco;
}

.articuloSeis {
    grid-area: articuloSeis;
}


.tituloTienda {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    grid-area: tituloTienda;
    padding: 10px;
    color: $color-titulos;
    font-weight: bold;
}

.cardTienda {
    display: flex;
    padding: 2px;
}

#articuloTienda {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;
    width: 310px;
    margin: 20px;
    margin-top: 40px;
}

#colorInput {
    width: 40px; 
    height: 40px;
}

.form-label {
    font-size: x-large;
}


h4 {
    font-size: larger;
    font-weight: bold;
}

.form-control  {
    width: 70%;
}

.d-block {
    border-radius: 20px;
}


.iframe {
    width: 450px;
}

//Quienes
.cardQuienes {
    border-radius: 10px;
    border-color: #B7C8B5;
    border-width: 2px;
    border-style: groove ;

}

//Coleccion
.card-img-top {
width: 500px;
border-radius: 10px;
}

.card {
    width:510px;
    border-color: black;
    margin: 30px;
}

#cardColeccion
{background-color:  #B7C8B5 ;
}

.containerColeccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    background-image: linear-gradient( $color-background,#9589d0 );
    
}
.bi {
color: black;
}
}